<html lang="en/tr/de and more...">
    <head>
        <link rel="icon" href="../../img/logo.png" type="image/x-icon" />
        <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
        <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Website",
        "url": "https://bhbotlist.xyz/"
        }
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#5865F2">
        <link rel="icon" href="../../img/logo.png" type="image/x-icon">
    
        <meta name="twitter:image" content="../../img/vcodes_wallpaper.png">
        <link rel="canonical" href="https://bhbotlist.xyz/">
        <meta name="googlebot" content="index">
        <meta name="googlebot-news" content="snippet">
        <meta name="robots" content="follow">
        <meta name="publisher" content="2021" />
        <meta name="author" content="BHBL", "bhbotlist@gmail.com">
        <!-- Links -->
        <%- include('./links.ejs') %>





        </script><link rel=stylesheet href=../../css/style.css><script src=../../js/style.js type="670ede432a4fda090fce835f-text/javascript"></script></head><body><style>.bg-indigo-600{--tw-bg-opacity:1;background:linear-gradient(-45deg,#ee7752,#4f46e5,#23a6d5,#23d5ab);background-size:400% 400%;animation:gradient 15s ease infinite}@keyframes gradient{0%{background-position:0 50%}50%{background-position:100% 50%}100%{background-position:0 50%}}</style><div class=bg-indigo-600><div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8"><div class="is-flex is-align-items-center justify-content-between is-flex-wrap"><div class="w-0 is-flex-grow-1" style=align-items:center><span class="is-flex p-2 rounded-lg bg-indigo-600" style=opacity:0!important></span><p class="ml-3 font-medium text-white truncate"><span><span class="badge badge-danger is-size-6">Event</span>&nbsp;Top voted bot owner will win a exciting prize.</span></p></div><div class="is-flex justify-content-end"><a href=/dc class="btn btn-vcodes">Join Our Discord</a></div></div></div></div>

        
    </head>

<body>